body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url('../images/streets.jpg');
	background-size: cover;
}
#mainBody {
	width: 80%;
	margin: 0 auto;
	background-color: rgba(240,240,240,.4);
	color: white;
	padding: 30px;
	border-radius: 10px;
}
#sectionWrapper {
	margin: 50px;
	padding: 30px;
	background-color: rgba(0,0,0,.1);
}
.row div {
	display: inline;
}
