body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url('../images/streets.jpg');
	background-size: cover;
}
#mainBody {
	width: 800px;
	margin: 0 auto;
	background-color: rgba(200,200,200,.7);
	padding: 50px;
	border-radius: 25px;
}
#sectionWrapper {
	padding: 30px;
	background-color: rgba(0,0,0,.1);
	border-radius: 10px;
}
.row div {
	display: inline;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.tools {
	text-align: left;
}
